@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

#main {
  width: 100%;
}

section {
  width: 100%;
}

.bg-background {
  background-image: url('./Assets/Hero-bg.png');
  height: 698px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
}

header {
  width: 100%;
}

header nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

header nav .logo h3 {
  color: rgb(78, 71, 255);
  font-size: 34px;
  font-weight: 800;
}

header nav .btn button {
  padding: 12px 36px 12px 36px;
  border: none;
  border-radius: 10px;
  background: rgb(78, 71, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-section .text-section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.hero-section h3 {
  color: rgb(37, 36, 50);
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
}

.hero-section button {
  padding: 12px 36px 12px 36px;
  border-radius: 10px;
  background: rgb(78, 71, 255);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero-section button:hover {
  background-color: rgb(62, 55, 255);
}

.second-section {
  width: 80%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-section .text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: start;
}

.second-section .text h3 {
  color: rgb(37, 36, 50);
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
}

.second-section .text p {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.second-section .text button {
  padding: 12px 36px 12px 36px;
  border-radius: 10px;
  background: rgb(78, 71, 255);
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: white;
}

.second-section .img img {
  border-radius: 48px;
}
